<% content_for :page_specific_scripts do %>
  <%= vite_javascript_tag 'AddToCartForm.tsx' %>
<% end %>

<div class="py-4 lg:py-16 flex flex-col items-center gap-4 lg:gap-12">
  <div class="flex flex-col lg:flex-row w-full border border-black rounded-md">
    <div class="flex flex-col grow border-r border-black">
      <div class="py-8 px-6 flex flex-col border-b border-black">
        <h1 class="text-4xl"><%= @product[:name] %></h1>
      </div>
      <div class="flex items-center border-b border-black">
        <div class="p-6 flex flex-col items-center border-r border-black">
          <p>$<%= @product[:price_range] %></p>
        </div>
        <div class="p-6 flex flex-col items-center border-r border-black">
          <p><%= @user[:name] %></p>
        </div>
        <div class="p-6 flex flex-col items-center">
          <p>0 ratings</p>
        </div>
      </div>
      <div class="p-6 flex items-center">
        <p><%= @product[:description] %></p>
      </div>
    </div>

    <div id="add-to-cart-form-data" data-product="<%= json_escape(@product.to_json) %>" data-cart="<%= json_escape(@cart.to_json) %>"></div>
    <div
      id="add-to-cart-form-react"
    >
    </div>
  </div>
  <footer class="text-center">Powered by
    <a href="/">
      <span
        class="logo-full"
      ></span>
      DEMO
    </a>
  </footer>
</div>